:root{
    --color-fondos: #EA5B0C;
    --color-text-title:#ffffff;
    --color-shadoy-box: #45413D;
    --color-text-principal:#fcfbfb;
    --color-subtitle: #0e0c0a;
    --color-background-color: #D0D0D0;
}